KEYCLOAK_HOST=localhost
KEYCLOAK_PORT=8080
OPENBAO_HOST=localhost
OPENBAO_PORT=8200
BE_HOST=localhost
BE_PORT=5000
FE_HOST=localhost
FE_PORT=5173
DAB_HOST=localhost
DAB_PORT=8000
AGENT_HOST=localhost
AGENT_PORT=8082
BAO_TOKEN=dev-only-token

TENANT_ID=poc
AUTH_AUTHORITY=https://${KEYCLOAK_HOST}:${KEYCLOAK_PORT}/realms/${TENANT_ID}
AUTH_INTERNAL_AUTHORITY=https://${BE_HOST}:${BE_PORT}
AUTH_INTERNAL_AUDIENCE=poc-internal
AUTH_API_CLIENT_ID=poc-api
AUTH_API_CLIENT_SECRET=poc-api-dev-secret

VITE_API_BASE_URL=https://${BE_HOST}:${BE_PORT}


VAULT_ADDRESS=http://${OPENBAO_HOST}:${OPENBAO_PORT}
CORS_SPA_ORIGIN=https://${FE_HOST}:${FE_PORT}


AGENT_GATEWAY_ENABLED=true

AZ_FOUNDRY_TENANT_ID=<sp-tenant-id>
AZ_FOUNDRY_SP_CLIENT_ID=<sp-client-id>
AZ_FOUNDRY_SP_CLIENT_SECRET=<sp-client-secret>
AZ_FOUNDRY_PROJECT_ENDPOINT=https://<resource>.services.ai.azure.com/api/projects/<project>
AZ_FOUNDRY_MODEL_DEPLOYMENT_NAME=<model-deployment-name>


DAB_ENVIRONMENT=Development
FABRIC_CONN_STRING=Server=<id>.datawarehouse.fabric.microsoft.com;Database=<WarehouseName>;Authentication=Active Directory Interactive;Encrypt=True;TrustServerCertificate=False;
